html{
    scroll-behavior: smooth;
}

/* Classi per colori marker */
img.red{
    filter: hue-rotate(1234deg);
}

img.green{
    filter: hue-rotate(300deg);
}

/* Gestione inputs */
input[type="checkbox"]{
    accent-color: #a855f7;
    mix-blend-mode: #a855f7;

}

input[type="text"]{
    outline: none;
}

/* Navbar */
.sticky{
    backdrop-filter: blur(4px);
    z-index: 1001;
}